body{
     background-image: url('https://img.freepik.com/free-photo/blurred-soft-people-meeting-table-business-people-talking-modern-office-generative-ai_1258-150799.jpg?t=st=1727243216~exp=1727246816~hmac=0650817797dee0fb472a08358e3223cacee87b79d18d6fca49638c77a0894a88&w=740'); 
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;
     height: fit-content;
}
     
    

